.center {
  text-align: right;
  align-content: right;
}

th {
  text-align: center;
}

.right {
  text-align: right;
}

.thButton
{
  text-align: center;
  width: 100px;
}

.toolbar {
  max-width: 140px;
}

.right {
  text-align: right;
}

.button {
}
